.comment-container{
    color: white;
}

.deleteBtn{
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 30px;
}

.com-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}